lab_2 Pawel Manka

In [49]:
import pandas as pd

In [3]:
with open("../original_data/weather.txt") as file:
    data = file.read()
    
split_data = data.split('\n')
# print(split_data)
data_year_2010 = []
month = ""
number_of_months = 0

#w poniższej pętli tworzę dane 5 miesięcy z 2010 roku. Nie są one wyczyszczone.
for row in split_data:
    if row[11:15] == "2010" :
        if month != row[15:17]:
            number_of_months += 1
        if number_of_months <= 5:
            data_year_2010.append(row)
            month = row[15:17]

In [64]:
#Następnie dane wiersze dzielę wg zmiennej na kolumny zgodnie z punktem 2.3 zawartym w pliku readme
#tworzę listy które w przyszłości będą kolumnami nowego df
ID_station_lst = []
year_lst = []
month_lst = []
examined_data = []
sign_lst = []
value_lst = []
flague_lst = []
day_lst = []
    
for row in data_year_2010:


    n = 1  #to jest numer dnia 
    i = 21 # i to zmienna która jest iteratorem po wierszu.
    
    while i != len(row):
        ID_station_lst.append(row[0:11])
        year_lst.append(row[11:15])
        month_lst.append(row[15:17])
        examined_data.append(row[17:21])
        sign_lst.append(row[i])
        i += 1
        value_lst.append(row[(i): (i+4)])
        i += 4
        flague_lst.append(row[(i): (i+3)])
        i += 3
        
        day_lst.append(n)
        n+= 1

In [7]:
# Została stworzona wyczyszczona baza danych która zawiera następujące kolumny oraz spełnia warunki:
# Każda zmienna tworzy kolumnę.
# Każda obserwacja tworzy rząd.

tidied_data = {"ID_station" : ID_station_lst, "year" : year_lst, "month" : month_lst, "day" : day_lst, "measured_datatype": examined_data,
              "sign" : sign_lst , "value": value_lst, "flague": flague_lst, "day" : day_lst}

df = pd.DataFrame(tidied_data)
df

      ID_station  year month  day measured_datatype sign value flague
0    MX000017004  2010    01    1              TMAX    -  9999
1    MX000017004  2010    01    2              TMAX    -  9999
2    MX000017004  2010    01    3              TMAX    -  9999
3    MX000017004  2010    01    4              TMAX    -  9999
4    MX000017004  2010    01    5              TMAX    -  9999
..           ...   ...   ...  ...               ...  ...   ...    ...
460  MX000017004  2010    05   27              PRCP          0      S
461  MX000017004  2010    05   28              PRCP    -  9999
462  MX000017004  2010    05   29              PRCP         25      S
463  MX000017004  2010    05   30              PRCP          0      S
464  MX000017004  2010    05   31              PRCP    -  9999

[465 rows x 8 columns]

In [10]:
# Aby spełnić trzeci warunek: Każdy typ jednostki obserwacyjnej tworzy tabelę. Tworzę DataFrame bez kolumny ID_station i year
days_weather_measur_2010 = df[["day", "month", "measured_datatype", "value", "flague"]]
days_weather_measur_2010

     day month measured_datatype value flague
0      1    01              TMAX  9999
1      2    01              TMAX  9999
2      3    01              TMAX  9999
3      4    01              TMAX  9999
4      5    01              TMAX  9999
..   ...   ...               ...   ...    ...
460   27    05              PRCP     0      S
461   28    05              PRCP  9999
462   29    05              PRCP    25      S
463   30    05              PRCP     0      S
464   31    05              PRCP  9999

[465 rows x 5 columns]

In [59]:
#zapisuje do folderu
days_weather_measur_2010.to_csv(path_or_buf="../analisys_data/tab1")

In [38]:
#następnie usuwam wiersze bez pomiary tzn w których wartość zmierzona jest równa 9999
days_weather_measured_2010 = days_weather_measur_2010[days_weather_measur_2010["value"] != "9999"]
days_weather_measured_2010

     day month measured_datatype value flague
29    30    01              TMAX   278      S
60    30    01              TMIN   145      S
66     5    01              PRCP     0      S
68     7    01              PRCP     0      S
73    12    01              PRCP     0      S
..   ...   ...               ...   ...    ...
451   18    05              PRCP     0      S
453   20    05              PRCP     0      S
460   27    05              PRCP     0      S
462   29    05              PRCP    25      S
463   30    05              PRCP     0      S

[79 rows x 5 columns]

In [60]:
days_weather_measured_2010.to_csv(path_or_buf="../analisys_data/tab2")

In [61]:
#sprawdzam ile z pomiarów w 2010 nie mają wątpliwej jakości S - okazuje się że 0:
days_withoutS = days_weather_measured_2010[(days_weather_measured_2010['flague'] != "  S")]
days_withoutS

In [63]:
days_withoutS.to_csv(path_or_buf="../analisys_data/tab3")